In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from IPython.display import display

df = pd.read_csv("GoSales.csv")
dummies = pd.get_dummies(data=df, columns = ["GENDER", "MARITAL_STATUS", "PROFESSION", "IS_TENT", "PRODUCT_LINE"])
final = dummies.drop(["GENDER_F", "IS_TENT_False"], axis="columns")
pd.options.display.max_columns = None
display(final)

,AGE,PURCHASE_AMOUNT,GENDER_M,MARITAL_STATUS_Married,MARITAL_STATUS_Single,MARITAL_STATUS_Unspecified,PROFESSION_Executive,PROFESSION_Hospitality,PROFESSION_Other,PROFESSION_Professional,PROFESSION_Retail,PROFESSION_Retired,PROFESSION_Sales,PROFESSION_Student,PROFESSION_Trades,IS_TENT_True,PRODUCT_LINE_Camping Equipment,PRODUCT_LINE_Golf Equipment,PRODUCT_LINE_Mountaineering Equipment,PRODUCT_LINE_Outdoor Protection,PRODUCT_LINE_Personal Accessories
0,27,144.78,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0
1,39,144.83,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,39,137.37,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
3,56,92.61,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,45,119.04,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60247,24,126.66,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
60248,24,133.97,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
60249,27,106.15,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
60250,20,98.34,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
60251,37,137.25,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0